
<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Plantilla prinvipal MVC NET CORE</h1>
        <hr />
         <div style="background-color: lightblue">
            <p>ZONA DE VISTAS</p>
        </div>
    </body>
</html>
